/* bg color of gessalt searchbar */
.gpV {
    background-color: #fffbc0;

}

.search-bar-container {
    width: 100%;
    margin: auto;
}


@media (min-width: 757px) {
    .search-bar-container {
        width: 650px;
    }
}

@media (min-width: 991px) {
    .search-bar-container {
        width: 700px;
    }
}
